<!DOCTYPE html>
<html lang="en">

<head>
    <title>Administración</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="js/admin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-5.5.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="js/admin/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="js/admin/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="js/admin/select2/select2.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/admin/univ.css">
    <link rel="stylesheet" type="text/css" href="css/admin/util.css">
</head>

<body>
<nav>
    <ul class="admin-nav">
        <a href="/index"><li><i class="fas fa-chevron-left" style="margin-right: 10px"></i></li></a>
        <li style="margin: auto;">
            <div style="margin-left: -50px" class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary <% if(mode === 'products') { %> active <% } %>">
                    <input type="radio" name="options" id="oProducts" autocomplete="off" checked> PRODUCTOS
                </label>
                <label class="btn btn-secondary <% if(mode === 'sales') { %> active <% } %>">
                    <input type="radio" name="options" id="oSales" autocomplete="off"> VENTAS
                </label>
                <label class="btn btn-secondary  <% if(mode === 'clients') { %> active <% } %>">
                    <input type="radio" name="options" id="oClients" autocomplete="off"> CLIENTES
                </label>
            </div>
        </li>
    </ul>
</nav>

<% if(mode === 'products') { %>
    <% include partials/admin/products %>
<% } %>

<script src="js/admin/jquery/jquery-3.2.1.min.js"></script>
<script src="js/admin/bootstrap/js/popper.js"></script>
<script src="js/admin/bootstrap/js/bootstrap.min.js"></script>
<script src="js/admin/select2/select2.min.js"></script>
<script src="js/admin/xlsx/xlsx.full.min.js"></script>
<script src="js/admin/filesaver/FileSaver.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/admin/admin.js"></script>

<style>
    .little-image {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 20%;
    }

    textarea { border: none; }
</style>
</body>

</html>