<!-- NAV -->
<nav>
        <ul class="admin-nav">
            <li><a href="/university">Productos</a>
                <ul class="submenu">
                    <li onclick="location.href = '/admin?mode=showall'">Mostrar todos</li>
                    <li onclick="location.href = '/admin?mode=add'">Agregar</li>
                    <li onclick="location.href = '/admin?mode=edit'">Editar</li>
                    <li onclick="location.href = '/admin?mode=delete'">Eliminar</li>
                </ul>
            </li>
        </ul>
        <ul class="main-nav">
            <li>Usuario: </li>
            <a href="/logout"><li>Logout</li></a>
        </ul>
</nav>