<!-- NAV -->
<nav>
        <ul class="admin-nav">
            <li><a href="/university">Administration</a>
                <ul class="submenu">
                    <li onclick="location.href = '/departments'">Departments</li>
                    <li onclick="location.href = '/professors'">Professors</li>
                    <li onclick="location.href = '/courses'">Courses</li>
                    <li onclick="location.href = '/periods'">Periods</li>
                    <li onclick="location.href = '/timeblocks'">Time blocks</li>
                    <li onclick="location.href = '/classrooms'">Classrooms</li>
                    <li onclick="location.href = '/schedules'">Schedules</li>
                </ul>
            </li>
        </ul>
        <ul class="main-nav">
            <li>Usuario: </li>
            <a href="/logout"><li>Logout</li></a>
        </ul>
</nav>